<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Microservices Application</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    
</head>
<body>
    <!-- Navbar -->
    <header>
        <nav class="navbar">
            <div class="logo">
                <a href="#">Microservices App</a>
            </div>
            <ul class="nav-links">
                <li><a href="http://localhost:8081/jobs" >Jobs</a></li>
                <li><a href="http://localhost:8082/freellers">Freelancers</a></li>
                <li><a href="http://localhost:8084/jobhunters">JobHunter</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main Content -->
    <main>
        <section id="jobs">
            <h2>Jobs</h2>
            <p>See all our job opportunities that we have.</p>
        </section>

        <section id="freelancers">
            <h2>Freelancers</h2>
            <p>Connect with top freelancers from various industries.</p>
        </section>

        <section id="jobhunter">
            <h2>JobHunter</h2>
            <p>Are you a job hunter? Get personalized job recommendations!</p>
        </section>
    </main>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 Microservices Application. All Rights Reserved.</p>
    </footer>
</body>
</html>

